@model IEnumerable<WebGIS.Models.Site>


<h2>Sites</h2>

<div class="container">

   <div id="mapDiv" style="height: 500px; width: 100%;"></div>


    <!-- Tableau (en-dessous de la carte) -->
    
    <a asp-action="Create">Create New Site</a>
    <table class="table">
        <thead>
            <tr>
                <th>Site</th>
                <th>Reference fonci7re </th>
                <th> Etat </th>
                <th> Prefecture </th>
                <th> Commune / Arrondissement </th>
                <th>Action</th>
                <th>test</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.site </td>
                <td> @item.reference </td>
                <td> @item.etat </td>
                <td> @item.prefecture </td>
                <td> @item.commune_ce </td>
                <td><button class="btn btn-sm btn-primary zoom-to-site" data-siteid="@item.id">
                    Voir sur carte
                </button>
                </td>>
                <td>
                    <a asp-controller="Site" asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-primary">Modifier</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
